html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Merriweather';
  /*font-family: 'Open-sans', sans-serif;*/
  font-size: 14px;
  line-height: 1.5em;
  margin: 0;
  margin-top: 20px;
  /*padding: 0;*/
  /*height: 100%;*/
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}

img {
  width: 100%;
}

hr {
  margin: 0;
}

#self-portrait {
  /*float: right;*/
  min-width: 100px;
  max-width: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 50%;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

#portfolio-image {
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

#jt-logo {
  max-height: : 64px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 400px;
    margin: 8px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.card-container {
    padding: 8px 8px;
    float: left;
    border: 1px solid rgba(0,0,0,0.2);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 32px;
    background-color: #fcfcfc;
    /*min-height: 425px;*/
}

.card-container img {
  border: 1px solid rgba(0,0,0,0.25);
}

.card-container .description {
  min-height: 128px;
}

.text-special {
  color: #FF3374;
  font-weight: 700;
}

h1 {
  color: #2b2b29;
}

h2 {
  text-align: left;
  /*color: #1f1f1f;*/
  /*color: #3a3a3a;*/
  color: #4c4c4c;
}

.container {
  margin: auto;
}

.container p {
  text-align: justify;
}

.container p a {
  color: #FF3374;
  font-weight: 700;
  text-decoration: none;
}

.logo-text {
  color: #fff;
}

.primary-text {
  /*background: black;*/
  color: black;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  /*box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);*/
}

.primary-background {
  background: #56a79a;
}

#main-header {
  background: #fff;
  /*border-bottom: 1px solid #171717;*/
  /*box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);*/
  margin-bottom: 40px;
}

#navbar {
  text-transform: uppercase;
}

#navbar li {
  display: inline;
  padding-right: 20px;
  list-style: none;
}

#navbar a {
  text-decoration: none;
  color: #515151;
}

#navbar li.current a, #navbar a:hover {
  color: #FF3374;
  /*font-weight: bold;*/
  /*border-bottom: 3px solid #56a79a;
  padding-bottom: 3px;*/
}

#showcase {
  background: url('../images/showcase.jpg') no-repeat center center;
  border-bottom: 1px solid #56a79a;
  margin-bottom: 30px;
}

#showcase .row {
  height: 600px;
}

#showcase h1 {
  font-size: 50px;
  margin: 0;
  padding-bottom: 20px;
}

#showcase p {
  color: #ccc;
  margin: 0;
}

#showcase .showcase-content {
  background: #333;
  color: #fff;
  border-radius: 90px;
  padding: 40px;
  opacity: 0.9;
}

#features h2 {
  font-size: 35px;
  margin: 0;
  padding-bottom: 10px;
}

#features p {
  color: #888;
  margin: 0;
  margin-bottom: 40px;
}

#features .fa {
  font-size: 60px;
  color: #56a79a;
}

#info {
  background: #333 url('../images/info-bg.jpg') no-repeat;
  color: #fff;
}

#info h2 {
  font-size: 35px;
  margin: 0;
  padding-bottom: 10px;
}

#info ul {
  list-style: none;
  padding: 0;
}

#info li {
  line-height: 2em;
  font-size: 20px;
}

#company {
  /*background: #0a0a0a;*/
  background: #fff;
  color: #515151;
  padding: 10px 0;
}

#company h4 {
  text-transform: uppercase;
  margin-bottom: 0;
}

#company ul {
  padding: 0;
  list-style: none;
  line-height: 2em;
}

#company input[type="text"] {
  padding: 7px;
}

#company button {
  background: #222;
  color: white;
  padding: 10px;
  border: 0;
}

#page {
  margin-bottom: 20px;
  /*height: 100%;*/
}

#main-footer {
  background: #1c1c1c;
  color: white;
  margin: 0;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.25rem;
  text-align: center;
}

.services ul li {
  list-style: none;
  padding: 10px;
}

.services ul li:nth-child(odd) {
  background: #333;
  color: #fff;
}

.services ul li:nth-child(even) {
  background: #56a79a;
  color: #fff;
}

.contact form {
  background: #333;
  color: white;
  padding: 20px;
}

.contact form input[type="text"] {
  width: 50%;
  height: 30px;
  margin-bottom: 10px;
}

.contact form textarea {
  width: 50%;
  height: 100px;
}

.contact form button {
  width: 50%;
  padding: 10px 0;
  border: 0;
  background: #222;
  color: #fff;
}

.contact form label {
  text-transform: uppercase;
}

@media(max-width:800px) {
  #showcase h1 {
    font-size: 30px;
  }

  .container {
    margin: 0px 20px;
  }

  #page {
    margin: 0;
  }
}

@media(max-width:500px) {
  #showcase .showcase-content {
    padding: 40px 10px;
  }

  .container {
    margin: 0px 20px;
  }

  #page {
    margin: 0;
  }
}
